.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
  }
  
  #display {
    width: 96%;
    margin-bottom: 10px;
    padding: 3px;
    padding-left: 3px;
    font-size: 20px;
    background-color:white;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
   
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    background-color: rgb(236, 17, 126);
    color: white;
  }
  